*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,body{
    height: 100%;
    width: 100vw;
    max-width:100% ;
    box-sizing: border-box;
}



body{
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace, 'Oswald', sans-serif;
 background-color: rgb(244, 240, 240);
 font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    min-height: 100%;
    background-image: url('images/arc4.jpg');
    background-repeat: repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    background-position: center;
   
}


img{
    display: block;
}

.container {
    display: grid;
    grid-template-rows: 1fr auto; /* Create two rows, the first grows to fill available space, the second is for the footer */
    min-height: 100vh;
}


.header ul li{
    position: relative;
    bottom: 22px;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.header h1{
    position: relative;
    max-width: fit-content;
    top: 22px;
    left: 12px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}

a:hover{
    color: #b97d10;
}

a ,a:visited{
    text-decoration: none;
    color: #fbca03;
}

.header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: rgb(75,9,8);
background: linear-gradient(90deg, rgba(75,9,8,1) 0%, rgba(106,12,11,1) 35%, rgba(170,5,5,1) 100%);
filter: drop-shadow(-15px 2px 18px rgb(78, 77, 77));
}

.header ul li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-items{
    display: none;
    
}

.menu-toggle img{
    float: right;
    position: relative;
    top: -26px;
    right: 12px;

}

/*Same for all page*/
.hero1{
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 6.7rem;
    z-index: 0;
    font-size: 24px;
    font-style: bold;
    color: rgba(170,5,5,1);
}
/*Same for all page*/

/*for ground event page*/
.hero1 .h1_ground h1{
    color: white;
    align-items: center;
    text-align: center;
    background: linear-gradient( 150deg ,rgba(103, 199, 235) 9%,rgba(60,151,185) 38%, rgba(60,127,167) 61%) ;
    font-family: 'Courier New', Courier, monospace, 'Oswald', sans-serif;
    font-size: 40px;
}

.hero_cr:hover{
    background-image: url('images/cricket.jpg');
    background-size: cover;
    background-position: center;
    transition: background 0.5s ease;
    color: white;
}

.hero_fb:hover{
    background-image: url('images/football.jpg');
    background-size: cover;
    background-position: center;
    transition: background 0.5s ease;
    color: white;
}

.hero_hc:hover{
    background-image: url('images/hockey.jpg');
    background-size: cover;
    background-position: center;
    transition: background 0.5s ease;
    color: white;
}

.hero_hb:hover{
    background-image: url('images/handball.webp');
    background-size: cover;
    background-position: center;
    transition: background 0.5s ease;
    color: white;
}

.hero_bb:hover{
    background-image: url('images/basketball.jpg');
    background-size: cover;
    background-position: center;
    transition: background 0.5s ease;
    color: white;
}

.hero_rg:hover{
    background-image: url('images/rugby.jpg');
    background-size: cover;
    background-position: center;
    transition: background 0.5s ease;
    color: white;
}

.hero_tn:hover{
    background-image: url('images/tennis.jpg');
    background-size: cover;
    background-position: center;
    transition: background 0.5s ease;
    color: white;
}
/*for ground event page*/






/*for online event page*/
.hero1 .h1_online{
    color: white;
    align-items: center;
    text-align: center;
    background: linear-gradient( 150deg ,rgba(103, 199, 235) 9%,rgba(60,151,185) 38%, rgba(60,127,167) 61%) ;
    font-size: 15px; 
    font-family: 'Courier New', Courier, monospace, 'Oswald', sans-serif;
}

.hero_pg:hover{
    color: white;
    background-image: url('images/bgmi.jpg');
    background-size: cover;
    background-position: center;
    transition: background 1s ease;
}

.hero_vr:hover{
    color: white;
    background-image: url('images/val.jpg');
    background-size: cover;
    background-position: center;
    transition: background 1s ease;
}

.hero_ff:hover{
    color: white;
    background-image: url('images/freefire.jpg');
    background-size: cover;
    background-position: center;
    transition: background 1s ease;
}

.hero_fg:hover{
    color: white;
    background-image: url('images/fallguys.jpg');
    background-size: cover;
    background-position: center;
    transition: background 1s ease;
}

.hero_sg:hover{
    color: white;
    background-image: url('images/stumbleguys.jpg');
    background-size: cover;
    background-position: center;
    transition: background 1s ease;
}
/*for online event page*/








/*for fixtures page*/
.hero1 .h1_fixtures{
    color: white;
    align-items: center;
    text-align: center;
    background: linear-gradient( 150deg ,rgba(103, 199, 235) 9%,rgba(60,151,185) 38%, rgba(60,127,167) 61%) ;
    font-family: 'Courier New', Courier, monospace, 'Oswald', sans-serif;
    font-size: 15px;
}

.FX1:hover{
    color: white;
    background-image: url('images/fixtures.jpg');
    background-size: cover;
    background-position: center;
    transition: background 1s ease;
}

.FX2:hover{
    color: white;
    background-image: url('images/fixtures.jpg');
    background-size: cover;
    background-position: center;
    transition: background 1s ease;
}

.FX3:hover{
    color: white;
    background-image: url('images/fixtures.jpg');
    background-size: cover;
    background-position: center;
    transition: background 1s ease;
}
/*for fixtures page*/






.hero_fb,.hero_cr,.hero_pg,.hero_hg,.hero_sg,.hero_hb,.hero_hc,.hero_bb,.hero_rg,.hero_tn,.hero_fg,.hero_ff,.hero_vr,.FX1,.FX2,.FX3,.cu,.norm,.t20,.sr,.fifa{
    padding: 32px;
    background: rgb(251,202,3);
    background: linear-gradient(135deg, rgba(251,202,3,1) 9%, rgba(185,125,16,1) 69%);
    margin: 50px 12px 50px 12px;
    border-radius: 135px;
    filter: drop-shadow(-15px 2px 18px rgb(103, 173, 214));
    align-items: center;
    text-align: center;
    cursor: pointer;
    
}


.hero  a{
    color: rgba(170,5,5,1);
}

/*Same for all page*/
.footer{
    position: sticky;
    right: 0;
    left: 0;
    width: 100%;
    background: rgb(75, 9, 8);
    background: linear-gradient(90deg, rgba(75, 9, 8, 1) 0%, rgba(106, 12, 11, 1) 35%, rgba(170, 5, 5, 1) 100%);
    box-shadow: 12px 12px 22px grey;
    z-index: 1;
}



.footer ul {
    list-style: none;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;

}

.footer ul li {
    margin: 0;
    padding: 0;
    text-align:center;
    bottom: 0;
    filter: drop-shadow(-15px 2px 18px #b97d10);
}

.footer ul li a {
    color: #fbca03;
    text-decoration: none;
    
}

.footer ul li a:hover {
    color: rgb(103, 173, 214);
    text-decoration: none;
    
}

/*Same for all page*/
  